@model WorkWithFarmacy.Models.PutOrderToSite

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @for (int i = 0; i < Model.headers.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.headers[i])
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
        @for (int i = 0; i < Model.rows.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.rows[i])
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
        @for (int i = 0; i < Model.statuses.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.statuses[i])
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }


    </tbody>
</table>


    <script>      
        setInterval(function () {
                var url = "@Url.Action("Orders", "Order")";
                //window.location = url;
                $(this).load("@Url.Action("Orders", "Order")");
                  //window.location.reload();
                }, 300000);
    </script>
