@model List<WorkWithFarmacy.Models.Stock>

@{
    ViewData["Title"] = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Stock</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PrtId
            </th>
            <th>
                Nnt
            </th>
            <th>
                Qnt
            </th>
            <th>
                SupInn
            </th>
            <th>
               Nds
            </th>
            <th>
                PrcOptNds
            </th>
            <th>
                PrcRet
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrtId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupInn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrcOptNds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrcRet)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
